/* styles/CreateMovie.module.css */
.CreateMovieOuter {
  background-image: url(../../public/images/Sign_in.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 100px 100px;
}
.createMovieContainer {
  margin: 20px auto;
  padding: 20px;
}
.createMovieInner {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 2fr 2fr;
}

.chooseImage input {
  display: none;
}
.chooseImage label {
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px dashed #fff;
  background: #224957;
  width: 100%;
  max-width: 473px;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chooseImage label svg {
  display: block;
  margin: 0 auto;
}
.createMovieContainer h2 {
  color: #fff;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 100px;
  margin-top: 0px;
}

.createMovieForm {
  display: flex;
  flex-direction: column;
}

.createMovieForm label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.createMovieForm input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  border-radius: 10px;
  background: #224957;
  color: #fff;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 12px;
  margin-bottom: 20px;
}
.createMovieForm input::placeholder {
  color: #fff;
}
.createMovieForm input:focus {
  outline: none;
}
input.movieTitle {
  width: 362px;
}
.createMovieForm .createMovieButton {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.createMovieForm button {
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 10px;
  background: #2bd17e;
  border: none;
  padding: 13px 50px;
  cursor: pointer;
}
.createMovieForm button.cancelButton {
  background-color: transparent;
  border: 1px solid #fff;
}
